body, div {
    border: 3px inset #8888;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0px;
    line-height: 16px;
}

svg {
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    animation: fadeout 0.5s ease forwards;
    animation-delay: 1s; 
}

html {
    height: 100%;
}

body {
    background: #c9c9b5;
    padding: 20px;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
}

.top-section {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.bottom-section {
    flex-direction  : column;
    display         :inline-block;
    width           : 100%;
    height          : calc(100% - 282px);
}

.box {
    height: 400px;
}

/* ---------------------------------------
              Avatar Styles 
---------------------------------------*/ 
.left[aria-status=static],
.left {
    background      : #061c0d;
    background-image: url('gfx/static.png');
    width           : 256px;
    height          : 256px;
    position        : relative;
}
.left[aria-status=thinking]{
    background-image: url('gfx/thinking.gif');
}
#face[aria-status=idle],
#face{
    background-image    : url('gfx/IDLE.png');
    width               : 100%;
    height              : 100%;
    position            : absolute;
    top                 : 0px;
    left                : 0px;
    display             : inline-block;
    background-size     : contain;
    background-repeat   : no-repeat;
    image-rendering     : pixelated;
}
#face[aria-status=sleeping] {
    background-image: url('gfx/SLEEP.png');
}
/* ---------------------------------------
                Eyes Overlay
---------------------------------------*/ 
#face + span {
    background-image: none;
    position        : absolute;
    width           : 100%;
    height          : 100%;
    display         : inline-block;
    background-size : contain;
    image-rendering : pixelated;
}
#face[aria-status=thinking] {
    background-image: url('gfx/THINKING.png');
}
#face[aria-blink=true] + span{
    background-image: url('gfx/BLINK.png') !important;
}
#face[aria-face=SMILE] + span{
    background-image: url('gfx/SMILE.png') !important;
}
/* Cambiar parpadeo por zzz.... si está durmiendo */
#face[aria-status=sleeping][aria-blink=true] + span {
    background-image: url('gfx/ZZZ.png') !important;
}
/* Cara de Tristeza */
#face[aria-face=CRY] {
    background-image: url('gfx/CRY.png') !important;
}
/* Cara de Amor */
#face[aria-face=LOVE] {
    background-image: url('gfx/LOVE.png') !important;
}
/* Corazones animados */
#face[aria-face=LOVE] + span{
    background-image: url('gfx/love.gif') !important;
}
/* ---------------------------------------
PHONEM OVERRIDES 
---------------------------------------*/ 
#face[aria-status=sleeping][aria-blink=true] + span {
}
/* ---------------------------------------
              Debug Box 
---------------------------------------*/ 
.right {
    background       : #212031;
    background-image : url('gfx/logo.png');
    background-repeat: no-repeat;
    background-size: 218px 246px;
    image-rendering: pixelated;
    background-position: 50% 50%;
    width       : calc(100% - 256px);
    height      : 256px;
    overflow-x  : hidden;
    overflow-y  : auto;
}
/* ---------------------------------------
              Chat Log 
---------------------------------------*/ 
.content {
    width       : 100%;
    height      : calc(100% - 32px);
    background  : #07020f;
    margin-bottom: 0;
    border      : none;
    overflow-x  : hidden;
    overflow-y  : auto;
}
/* ---------------------------------------
              Input Box 
---------------------------------------*/ 
.footer:hover,
.footer:active,
.footer::placeholder,
.footer {
    width: 100%;
    height: 32px;
    border: none;
    outline: none;
    background: #052009;
    color: #27b548;
}
.footer:hover,
.footer:focus{
    background: #0b4915;
}
/* ---------------------------------------
              Typography 
---------------------------------------*/ 
#model {
    color: #98c75c;
    text-shadow: -1px -1px 0px #000;
    font-family: 'tiny';
    position: absolute;
    top: 236px;
    right: 3px;
}
.left * { 
    font-size: 16px;
    font-weight: 400;
    color: #0f0;
    font-family: 'tiny';
}
.right * { 
    font-size: 16px;
    font-weight: 400;
    font-family: 'graph35+';
}
.footer {
    font-size: 32px;
    font-family: 'm4geek_caps';
    text-transform: uppercase;
}
.content * {
    font-size: 32px;
    font-weight: 400;
    font-family: 'ff6';
}

/* ---------------------------------------
              Message Styles 
---------------------------------------*/ 
.temporary {
    background-image: url('gfx/progress.gif');
    background-position: 0% 50%;
    background-size: 16px 16px;
    image-rendering: pixelated;
    padding-left: 16px;
    background-repeat: no-repeat;
}
.right .message {
    color: #ffffff;
    text-shadow: 1px -2px 0px #000;
}
.message {
    border: none;
    color:#2735b5;
    line-height: 18px;
    overflow: visible;
}
.message.user::before {
    content: '> ';
    color:#27a0b5;
}
.message.user {
    color:#10e4e4;
}
.message.error {
    color:#e4107a;
}
.message.bot {
    background-color: #061c0d;
    color:#27b548;
}


/* ---------------------------------------
              Animation 
---------------------------------------*/ 
@keyframes fadeout {
  0% {
    opacity: 1;
    display: block;
  }
  99% {
    opacity: 0;
    display: block; /* Keeps layout space occupied until the fade ends */
  }
  100% {
    opacity: 0;
    display: none;  /* Completely removes the element from the layout */
  }
}

audio {
    height: 16px;
    border-radius: none;
    width: 100%;
    filter: invert(1) sepia(100%) contrast(97%) saturate(150%) hue-rotate(414deg) saturate(3.5) brightness(70%);
    background: #000;
    color: #0ff;
}